{% extends "::base.html.twig" %}
{% block content %}
    <div class="nav-space-checkout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">


                    <table class="table">
                        <caption>
                            <h1>Récapitulatif de la commande</h1>
                            <br>
                            <tr>
                        </caption>

                        <thead>
                            <tr>
                                <th>Visiteur</th>
                                <th>Tarif</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <td>Prix total :</td>
                                <td>{{ commande.prixTotal }}</td>
                            </tr>
                        </tfoot>

                        <tbody>
                            {%  for client in commande.clients %}

                                <tr>         
                                    <td>{{ client.prenom }} {{ client.nom }}</td>
                                    <td>{{ client.billet.tarif }}</td>

                                </tr>

                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <form action="" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe_public_key }}"
                            data-amount="{{commande.prixTotal * 100}}"
                            data-name="Musée du Louvre"
                            data-description="Widget"
                            data-image="/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-currency="EUR">

                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
