{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Billetterie du musée du Louvre pour le projet 3 d'openclassroom">
        <title>{% block title %}Louvre billetterie{% endblock %}</title>

       
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('sass/main.css') }}">
            <link rel="stylesheet" href="{{ asset('sass/bootstrap-datepicker.css') }}">
             {% block stylesheets %}
        {% endblock %}
        
    </head>

    <body>

        <div class="container">
            <div id="alert">
                {% for key, flash in app.session.flashBag.all %}
                    {% for flashMessage in flash %}
                        <div class="alert alert-{{ key }} alert-dismissible" role="{{ key }}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                                {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div id="header" class="jumbotron">
                {% block header %}
                    <h1>La billetterie du Louvre</h1>
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}

                {% endblock %}
            </div>
            <br>
            <footer>
                {% block footer %}
                    <p>Eric Rordriguez © {{ 'now'|date('Y') }} pour Openclassrooms</p>
                {% endblock %}
            </footer>
        </div>

        {% block javascripts %}
            {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
            
            
        {% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ asset('js/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js')}}"></script>
    </body>
</html>
